body.work{
	background-size: 100% auto;
	background: #1c92d2 no-repeat fixed center;
    background: -webkit-linear-gradient(to bottom, #f2fcfe, #1c92d2) no-repeat fixed center;
    background: linear-gradient(to bottom, #f2fcfe, #1c92d2) no-repeat fixed center; 
}

body.break{
	background-size: 100% auto;
	background: #355C7D no-repeat fixed center;
    background: -webkit-linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D) no-repeat fixed center;
    background: linear-gradient(to bottom, #C06C84, #6C5B7B, #355C7D) no-repeat fixed center; 
}

body.rest{
	background-size: 100% auto;
	background: #0B486B no-repeat fixed center;
    background: -webkit-linear-gradient(to bottom, #F56217, #0B486B) no-repeat fixed center;
    background: linear-gradient(to bottom, #F56217, #0B486B) no-repeat fixed center; 
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.button, .display{
	font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}
#container{
	border: solid 1px;
	position: relative;
	margin: auto;
	width: 500px;
	height: 300px;
	top: 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#timer_display, .control_container{
	position: relative;
	display: block;
	width: 500px;
}

#timer_display{
	font-color: white;
	background: #000000;
    background: -webkit-linear-gradient(to top, #000000, #434343);
    background: linear-gradient(to top, #000000, #434343);
	height: 192px;
	font-weight: 500;
}

.control_container{
	background: #a9aeb2;
}

#interval_controls{
	height: 77px;
}

#timer_controls{
	height: 31px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.control_group{
	position: relative;
	display: inline-block;
	width: 33.333%;
	padding: 0px;
	margin: 2px 1px;
	height: 71px;
}

.control_container li{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0px;
	float: left;
	text-align: center;
}

#timer_controls .button{
	width: 25%;
	height: 100%;
	padding-top: 3px;
	font-size: 20px;
}

.control_group .button{
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
	font-size: 17px;
		height: 100%;
}

.control_group .interval_title{
	padding: 1px 0px;
	font-size: 20px;
}

.control_group .display{
	padding: 3px 0px;
	font-size: 22px;
	font-weight: 500;
}

#timer_display .display{
	color: white;
	margin: 0;
	float: left;
	text-align: center;
	width: 100%
}

#active_interval_title{
	padding-top: 8px;
	font-size: 22px;
}

#clock{
	padding: 8px 0px 13px 0px;
	font-size: 115px;
	overflow: visible;
}

.button{

	background: #bdc3c7;
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);
    background: linear-gradient(to top, #2c3e50, #bdc3c7);
}

/*.button:hover{

	border: solid .25px;
	background: #AAAFB3;
    background: -webkit-linear-gradient(to top, #2c3e50, #AAAFB3);
    background: linear-gradient(to top, #2c3e50, #AAAFB3);
    cursor: default;
}*/

