#container{
	border: solid 1px;
	position: relative;
	margin: auto;
	width: 500px;
	height: 300px;
	top: 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#timer_display, .control_container{
	position: relative;
	display: block;
	width: 500px;
}

#timer_display{
	font-color: white;
	background-color: black;
	height: 192px;
}

.control_container{
	background: gray;
}

#interval_controls{
	height: 77px;
}

#timer_controls{
	height: 31px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.control_group{
	position: relative;
	display: inline-block;
	width: 33%;
	padding: 0px;
	margin: 2px 1px;
	height: 71px;
}

.control_container li{
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0px;
	float: left;
	text-align: center;
}

#timer_controls .button{
	width: 25%;
	padding-top: 3px;
	font: 20px monospace, bold;
}

.control_group .button{
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
	font: 17px monospace, bold;
}

.control_group .interval_title{
	padding: 1px 0px;
	font: 20px monospace,bold;
}

.control_group .display{
	padding: 3px 0px;
	font: 22px monospace, bold;
}

#timer_display .display{
	color: white;
	margin: 0;
	float: left;
	text-align: center;
	width: 100%
}

#active_interval_title{
	padding-top: 8px;
	font: 22px monospace, bold;
}

#clock{
	padding: 8px 0px 13px 0px;
	font: 115px monospace, bold;
}